* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    color: #fff;
    font-size: 2rem;
}